:root{
    /* Colores de la marca LEGO */
    --amarillo: #FFD700;
    --rojo: #DA291C;
    --azul: #0066cc;
    --verde: #009933;
    --negro: #000000;
    --blanco: #FFFFFF;
}

body{
    font-family: "Nunito", sans-serif;
    background-color: var(--blanco);
}

h1{
    background-color: var(--amarillo);
    color: var(--rojo);
}

p.intro {
    font-size: 3rem;
    color: var(--rojo);
}

.logo {
    margin: 0 auto;;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 130px;
}