:root{
    /* Colores de la marca LEGO */
    --amarillo: #FFD700;
    --rojo: #DA291C;
    --azul: #0066cc;
    --verde: #009933;
    --negro: #000000;
    --blanco: #FFFFFF;
}

body{
    font-family: "League Spartan", sans-serif;
    background-color: var(--blanco);
    text-align: center;
}

h1{
    background-color: var(--amarillo);
    color: var(--rojo);
    padding: 40px;
    font-size: 60px;
    text-align: center;
}

p.intro {
    font-size: 3rem;
    color: var(--rojo);
    text-align: center;
}


.logo {
    margin: 0 auto;
    text-align: center;
}

.logo img {
    width: 200px;
    transition: transform 0.3s;
}

.logo img:hover{
    transform: scale(1.13);
}

@keyframes animacion-subtitulo {

    from { background-color: var(--amarillo); }
    to { background-color: var(--rojo); }

    from { color: var(--rojo);}
    to { color: var(--amarillo);}
}

h1{
    animation-name: animacion-subtitulo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}